.frame3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame3-frame3 {
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-bg22 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.frame3-event {
  top: 128px;
  left: 166px;
  width: 164px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text {
  top: 7px;
  left: 4px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-navlink {
  display: contents;
}
.frame3-event1 {
  top: 128px;
  left: 430px;
  width: 164px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.frame3-text02 {
  top: 7px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-event2 {
  top: 128px;
  left: 694px;
  width: 164px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text04 {
  top: 7px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-event3 {
  top: 128px;
  left: 958px;
  width: 164px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text06 {
  top: 7px;
  left: 6px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-rs1 {
  top: 329px;
  left: 394px;
  width: 300px;
  height: 345px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-navlink1 {
  display: contents;
}
.frame3-rectangle6 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 345px;
  position: absolute;
  text-decoration: none;
}
.frame3-navlink2 {
  display: contents;
}
.frame3-p-gimage910aa08b0e6011 {
  top: 72px;
  left: 10px;
  width: 280px;
  height: 203px;
  position: absolute;
  text-decoration: none;
}
.frame3-rs2 {
  top: 329px;
  left: 808px;
  width: 300px;
  height: 345px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-navlink3 {
  display: contents;
}
.frame3-rectangle61 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 345px;
  position: absolute;
  text-decoration: none;
}
.frame3-rs3 {
  top: 329px;
  left: 1222px;
  width: 300px;
  height: 345px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-navlink4 {
  display: contents;
}
.frame3-rectangle62 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 345px;
  position: absolute;
  text-decoration: none;
}
.frame3-navlink5 {
  display: contents;
}
.frame3-p-gimage7ab2bdde545611 {
  top: 383px;
  left: 820px;
  width: 280px;
  height: 237px;
  position: absolute;
  text-decoration: none;
}
.frame3-navlink6 {
  display: contents;
}
.frame3-tee11 {
  top: 362px;
  left: 1232px;
  width: 280px;
  height: 280px;
  position: absolute;
  text-decoration: none;
}
.frame3-text08 {
  top: 674px;
  left: 421px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text13 {
  top: 674px;
  left: 779px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text18 {
  top: 674px;
  left: 1245px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Metal Mania;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
